.box2 {
   text-align: center;
    display: inline-block;
    line-height: 50px;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 3px solid green;
}

.color1 {
    width: 800px;
    line-height: 60px;
    height: 60px;
    border: 2px solid green;
    border-style: dashed;
}

#c1 {
    border: 3px solid rgb(81, 221, 38);
}

#c2 {
    border: 3px solid rgb(197, 13, 13);
}

.color2 {
    width: 800px;
    line-height: 60px;
    height: 60px;
    border: 2px solid #201770;
    border-style: dashed;
}

.color3 {
    width: 800px;
    line-height: 60px;
    height: 60px;
    border: 2px solid red;
    border-style: dashed;
}
