.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #51b828;
    padding: 5px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
#m8{
    grid-column: 3;
    grid-row: 2  / span 2;
}
#m8-2{
    grid-column: 6;
    grid-row: 2  / span 2;
}
#m8-3{
    grid-column: 4;
    grid-row: 6 / span 2;
}
#m8-img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 0px;
}
#m6 {
    grid-column: 2;
    grid-row: 3 / span 2;
}
#m6-2{
    grid-column: 3;
    grid-row: 6 / span 2;
}
#m6-img {
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#ing-img {
    width: 100px;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#eie {
    grid-column: 5;
    grid-row: 3 / span 2;
}
#eie-img {
    width: 120px;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#tut-img {
    width: 120px;
    height: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.pati {
    font-size: 30px;
    grid-column: 2 / span 5;
    grid-row: 5;
}
#m7-img {
    width: 120px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#m7 {
    grid-column: 2;
    grid-row: 6 / span 3;
}
#m7-2 {
    grid-column: 5;
    grid-row: 6 / span 3;
}
.guion {
    grid-column: 6;
    grid-row: 7 / span 2;
}
img {
    width: 120px;
    height: 100px;
}