body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/fons.jpg");
    background-size: 1920px 1080px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
#header {
    width: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;

}
/* Title */
#nav_title {
    height: 75px;
    width: 100px;
    background-color: black;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
}

#nav_title p {
    padding-left: 40px;
}

/* Nav bar */
#nav_bar {
    height: 40px;
    margin: 0px;

}

#nav_bar ul {
    list-style: none;
    display: flex;
    height: 40px;
    margin: 0px;
    padding-left: 0px;
}
#nav_bar ul li {
    display: flex;
    height: 40px;
    align-items: center;
    margin-left: 10px;
    background-color: rgb(109, 205, 243);
    border-radius: 45%;
}
#nav_bar ul li:first-of-type{
    background-color: rgb(70, 68, 71);
}
#nav_bar ul li a {
    text-decoration: none;
    height: 35px;
    color: white;
    padding-top: 15px;
}
#nav_bar ul li a:hover {
    color: rgb(228, 109, 109);
}
/* Header end */

/* Title */
h1#title {
    color: rgb(70, 68, 71);
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 150px;
    margin-top: 50px;
}
h1#title p {
    margin: 0;
}

/* Content */
#content { 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
    background-color: rgb(103, 101, 104);
}

.content_itm {
    color: white;
    margin-top: 20px;
    margin-left: 50px;
}
.content_itm:first-of-type {
    margin-left: 0px;
}

.content_itm img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.content_itm p{
    text-align: center;
    font-family: Impact;
    font-size: 18px;
    margin-top: 8px;
}
/* Content end */

/* Footer */
#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

ul#contact_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
}

ul#contact_list li {
    margin-top: 5px;
    margin-left: 10px;
}
ul#contact_list li:first-of-type {
    margin-left: 0px;
}

ul#contact_list img {
    height: 30px;
    width: 30px;
}
ul#contact_list img:hover {
    opacity: 60%;
}
#icos{
    display: grid;
    grid-template-columns: repeat(6, 16%);
    margin-bottom: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .fa-instagram-square{
    color: rgb(175, 45, 67);
    background-color: white;
    margin-right: 3px;
    height: 28px;
    width: 28px;
  }
  .fa-facebook-square {
    color:rgb(59, 59, 231);
    margin-right: 3px;
  }
  .fa-twitter-square{
    color: lightskyblue;
    margin-right: 3px;
  }
  .fa-flickr {
    color: white;
    background: linear-gradient(to right, blue,red);
    margin-right: 3px;
    height: 27px;}
  .fa-snapchat-square{
    color: yellow;
    background-color: white;
    margin-right: 3px;
    height: 27px;
  }
  #footer{
    font-size: 10px;
    text-align: center;
  }

/* Footer end */
