body {
    background-color: black;ç
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 400px;
}
div.total{
    width: 400px;
    height: 280px;
}
div.vermell {
    color: white;
    background-color: red;
    width: 200px;
    height: 70px;
    float:left;
    margin:0px;
    padding: 0px;
}
div.blau {
    color: white;
    background-color: blue;
    width: 200px;
    height: 70px;
    float:right;
    margin:0px;
    padding: 0px;
}
div.groc {
    color: white;
    background-color: yellow;
    width: 100px;
    height: 140px;
    float: left;
}
div.lila {
    color: white;
    background-color: purple;
    width: 100px;
    height: 70px;
    float: left;
}
div.blaufosc {
    color: white;
    background-color: darkblue;
    width: 200px;
    height: 70px;
    float: left;
}
div.magenta {
    color: white;
    background-color: magenta;
    width: 100px;
    height: 70px;
    float: left;
}
div.groc2 {
    color: white;
    background-color: yellow;
    width: 100px;
    height: 70px;
    float: left;
}
div.blanc {
    color: white;
    background-color: white;
    width: 100px;
    height: 70px;
    float: left;
}
div.lilaclar {
    color: white;
    background-color: #b5a6e4;
    width: 100px;
    height: 70px;
    float: left;
}
div.marrofosc {
    color: white;
    background-color: rgb(82, 20, 20);
    width: 100px;
    height: 70px;
    float: left;
}
div.vermell2 {
    color: white;
    background-color: red;
    width: 100px;
    height: 70px;
    float: left;
}
div.marró {
    color: white;
    background-color: brown;
    width: 100px;
    height: 70px;
    float: left;
}
